<nav class=  " navbar navbar-expand-sm bg-primary navbar-dark ">
    <ul class="navbar-nav" >
        <li class= "nav-item">
            <a routerLink="student" routerLinkActive="active" class = "nav-link">Student List</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
<span>all Rights Reserved 2022</span>
    </div>


</footer>