<h1>Student Lists</h1>
<table class="table table-striped">
<thead>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Phone Number</th>
<th>Phone</th>

</thead>

<tbody>
    <tr *ngFor="let student of students" >
<td> {{student.firstname}} </td>
<td> {{student.lastname}} </td>
<td> {{student.email}} </td>
<td> {{student.phone}} </td>
<td> {{student.imgUrl}} </td>
    </tr>
</tbody>

</table>

